@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Rubik:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.including-content {
  display: flex;
  flex-direction: row;
  height: 75px;
  width: 100%;
  color: white;
  justify-content: space-between;
  align-items: center;
  background-color: #242a2d;
  font-family: "Poppins", sans-serif;
}

.nav {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: transparent;
}

.nav-link {
  text-decoration: none;
  background-color: transparent;
}

.hamburger {
  display: none;
}

.nav-links {
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  display: inline-block;
}

.nav-links::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease-in;
}

.nav-links:hover::after {
  width: 100%;
}

.nav-links:focus::after {
  width: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.main {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  text-align: center;
}

.home {
  overflow: hidden;
  height: calc(100vh - 75px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-background {
  position: absolute;
  z-index: -20;
  width: 100%;
  height: 100%;
  background-image: url(./Assets/background.jpg);
  background-position: center;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: title;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-play-state: running;
  padding: 20px;
  overflow: hidden;
  width: 100%;
  color: white;
}

.heading1 {
  font-size: 2rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.title {
  font-family: "Poppins", sans-serif;
  font-size: 3.5rem;
  animation: title;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.button-container > a {
  background-color: #242a2d;
  color: white;
  text-transform: uppercase;
  height: 45px;
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
}

.button-container > a::after {
  content: "";
  display: flex;
  flex-direction: column;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease-in;
}

p {
  font-family: "Rubik", sans-serif;
}

.button-container > a:hover::after {
  bottom: 0;
  width: 80%;
}

.button-container > a:hover {
  background-color: #333a3d;
}

.services-main-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #ffd100;
  padding: 0px 40px;
}

.services-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.small-headings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Rubik", sans-serif;
}

.small-headings-flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.images-container > h3 {
  text-align: center;
}

.images-container > div > h3 {
  text-align: center;
}

.images-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100;
  gap: 20px;
}

.images-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.images-flex > div > img {
  height: 40px;
}

.services {
  border: 2px solid #242a2d;
  display: flex;
  align-items: center;
  width: 150px;
  height: 150px;
  padding: 4px;
}

.services-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.list-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.collapsible {
  background-color: #242424;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.active,
.collapsible:hover {
  background-color: #333a3d;
}

.flex-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list {
  padding-left: 40px;
  display: flex;
  flex-direction: row;
  flex: 1fr 1fr;
  justify-content: space-between;
}

.background1 {
  background-image: url("./Assets/background1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  height: 400px;
}

.background2 {
  background-image: url("./Assets/background3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
  width: 400px;
  height: 400px;
}

.background3 {
  background-image: url("./Assets/background4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
  width: 400px;
  height: 400px;
}

.list > div > ul > li {
  font-family: "Rubik", sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: transparent;
}

@keyframes title {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.footer-wrapper {
  width: 100%;
  margin: auto;
}

.footer {
  background-color: #242a2d;
  height: 70px;
  width: 100%;
  padding: 20px 40px;
}

.footer > p {
  font-size: smaller;
  color: white;
}

@media screen and (max-width: 500px) {
  .including-content {
    padding: 0px 20px;
  }

  .nav {
    display: none;
    position: absolute;
    top: 75px;
    z-index: 20;
    background-color: #323a3d;
    flex-direction: column;
    height: 100%;
    width: 100%;
    color: white;
    padding: 20px 40px;
    transform: translateX(100%);
    transition: transform 750ms ease-in-out;
    font-size: 1rem;
  }

  .nav-links {
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
    color: white;
    display: inline-block;
  }

  .nav-links::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in;
  }
  .nav-links:hover::after {
    width: 100%;
  }

  .nav-links:focus::after {
    width: 100%;
  }

  .hamburger {
    display: block;
    background-color: transparent;
  }

  .true {
    transform: translateX(0%);
  }

  .hamburger div {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 5px;
    transform: all 0.3s ease;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 75px);
    align-items: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    animation: title;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state: running;
    padding: 40px 10px;
    height: 100%;
  }

  .heading1 {
    font-size: 1rem;
    text-align: center;
    font-family: "Poppins", sans-serif;
  }

  h2 {
    font-size: 1rem;
    text-align: center;
    font-family: "Poppins", sans-serif;
  }

  .title {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    animation: title;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  .toggle .line1 {
    transform: rotate(45deg) translate(6px, 6px);
    transition: all 0.25s ease-in;
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(-45deg) translate(7px, -7px);
    transition: all 0.25s ease-in;
  }

  .footer-wrapper {
    width: 100%;
    margin: auto;
  }

  .footer {
    height: 70px;
    width: 100%;
    padding: 20px 40px;
    background-color: #242a2d;
  }

  .footer > p {
    font-size: 10px;
    color: white;
  }
}
