@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Rubik:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;800&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #82aaf5;
}

.main-content {
  color: black;
}

p {
  font-family: "Poppins", sans-serif;
  background-color: transparent;
}

.including-content {
  display: flex;
  flex-direction: row;
  height: 75px;
  width: 100%;
  color: white;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  padding: 0px 20px;
}

.nav {
  display: flex;
  flex-direction: row;
  color: #325daf;
  background-color: transparent;
  gap: 50px;
}

.nav-link {
  text-decoration: none;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.drop-down {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: left;
  top: 75px;
  background-color: #ffffff;
  gap: 20px;
  padding: 20px;
  z-index: 10;
  transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
  opacity: 0;
  transform: translateY(0.5rem);
  visibility: hidden;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 50px;
  height: 75px;
}

.social-media {
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 20px;
}

.social-media-button > a > img {
  height: 40px;
}

.social-media-container {
  display: none;
}

.logo > img {
  height: 75px;
}

.show {
  opacity: 1;
  transform: translateY(0rem);
  visibility: visible;
}

.drop-down > a {
  padding: 10px 0px;
  text-decoration: none;
  color: #325daf;
}

.nav-links {
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  color: #325daf;
  display: inline-block;
}

.nav-links::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #325daf;
  transition: width 0.3s ease-in;
}

.nav-links:hover::after {
  width: 100%;
}

.nav-links:focus::after {
  width: 100%;
}

main {
  height: 100%;
  overflow: auto;
}

.main-content {
  margin: 20px 40px;
  animation: title 1s alternate ease-in;
  height: 100%;
}

.main-content li {
  font-family: "Poppins", sans-serif;
}

.main-heading {
  text-align: center;
  font-size: 2.5rem;
  font-family: "Rubik", sans-serif;
  padding-bottom: 20px;
  color: #ffffff;
}

.heading {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}

@keyframes title {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.about-us {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #325daf;
  padding: 20px 40px;
  gap: 40px;
  border-radius: 25px;
  margin: 10px 0px;
}

.profile-picture {
  border-radius: 50%;
  height: 150px;
}

.usp {
  font-weight: bold;
  font-size: 18px;
  font-family: "Wix Madefor Display", sans-serif;
  word-spacing: 10px;
  text-align: justify;
}

.footer-wrapper {
  width: 100%;
  margin: auto;
}

.footer {
  background-color: #325daf;
  height: 70px;
  width: 100%;
  padding: 20px 40px;
}

.footer > p {
  color: #ffffff;
  text-align: center;
  letter-spacing: 3px;
}

.footer-container {
  background-color: #2953a1;
  display: flex;
  flex-direction: column;
  padding: 0px 40px;
}

.nav-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 0px;
}

.nav-items-arrow {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  width: 50px;
}

.nav-items {
  display: flex;
  flex-direction: row;
}

.footer-heading {
  font-family: "Poppins", sans-serif;
  font-size: x-large;
  color: #ffffff;
  text-align: left;
}

.footer-nav-links > a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: small;
}

@media screen and (max-width: 500px) {
  .including-content {
    padding: 0px 20px;
  }

  .nav {
    display: none;
    position: absolute;
    top: 75px;
    z-index: 20;
    background-color: #ffffff;
    flex-direction: column;
    height: 100%;
    width: 100%;
    color: #325daf;
    padding: 20px 40px;
    transform: translateX(100%);
    transition: transform 750ms ease-in-out;
    font-size: 1rem;
    gap: 10px;
  }

  .nav-link {
    text-decoration: none;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .drop-down {
    background-color: #ffffff;
    padding: 20px;
    width: 100%;
    opacity: 0;
    visibility: hidden;
  }

  .show {
    opacity: 1;
    visibility: visible;
  }

  .drop-down > a {
    padding: 10px 0px;
    color: #325daf;
  }

  .nav-links {
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
    color: #325daf;
    display: inline-block;
  }

  .social-media {
    display: none;
  }

  .social-media-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .nav-links::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in;
  }

  .nav-links:hover::after {
    width: 100%;
  }

  .nav-links:focus::after {
    width: 100%;
  }

  .hamburger {
    display: block;
    background-color: transparent;
  }

  .true {
    transform: translateX(0%);
  }

  .hamburger div {
    width: 30px;
    height: 4px;
    background-color: #325daf;
    margin: 5px;
    transform: all 0.3s ease;
  }

  .toggle .line1 {
    transform: rotate(45deg) translate(6px, 6px);
    transition: all 0.25s ease-in;
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(-45deg) translate(7px, -7px);
    transition: all 0.25s ease-in;
  }

  .main-content {
    font-size: 12px;
    margin: 20px 20px;
  }

  .about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #325daf;
    padding: 20px 20px;
    gap: 20px;
    border-radius: 15px;
    margin: 10px 0px;
    font-size: 13px;
    color: #ffffff;
  }

  .profile-picture {
    border-radius: 50%;
    height: 150px;
  }

  .usp {
    font-weight: bold;
    font-size: 14px;
    word-spacing: 0px;
    text-align: left;
  }

  .footer-wrapper {
    width: 100%;
    margin: auto;
  }

  .footer {
    height: auto;
    width: 100%;
    padding: 20px 40px;
    background-color: #325daf;
  }

  .footer > p {
    font-size: 10px;
  }

  .footer-container {
    padding: 0px 20px;
  }

  .nav-container {
    gap: 10px;
  }

  .nav-items-arrow {
    display: none;
  }

  .footer-heading {
    height: 40px;
    font-size: 10px;
  }

  .footer-nav-links > a {
    font-size: 6px;
  }
}
