@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Rubik:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffd100;
}

.including-content {
  display: flex;
  flex-direction: row;
  height: 75px;
  width: 100%;
  color: white;
  justify-content: space-between;
  align-items: center;
  background-color: #242a2d;
  font-family: "Poppins", sans-serif;
}

.nav {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: transparent;
}

.nav-link {
  text-decoration: none;
  background-color: transparent;
}

.nav {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: transparent;
  gap: 50px;
}

.nav-link {
  text-decoration: none;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav-links {
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  color: #ffd100;
  display: inline-block;
}

.nav-links::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #ffd100;
  transition: width 0.3s ease-in;
}

.nav-links:hover::after {
  width: 100%;
}

.nav-links:focus::after {
  width: 100%;
}

.hamburger {
  display: none;
}

.drop-down {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: left;
  top: 75px;
  background-color: #242a2d;
  gap: 20px;
  padding: 20px;
  z-index: 10;
  transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
  opacity: 0;
  transform: translateY(0.5rem);
  visibility: hidden;
}

.show {
  opacity: 1;
  transform: translateY(0rem);
  visibility: visible;
}

.drop-down > a {
  padding: 10px 0px;
  color: #ffd100;
  text-decoration: none;
}

.heading {
  font-family: "Rubik", sans-serif;
  text-align: left;
}

main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

p {
  font-family: "Poppins", sans-serif;
}

.list > ul > li {
  font-family: "Poppins", sans-serif;
  background-color: transparent;
}

.list {
  padding-left: 40px;
}

.list-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  padding: 20px 40px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

.img-container {
  background-image: url(../Assets/background1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  width: 400px;
}

.footer-wrapper {
  height: 70px;
  margin-top: auto;
}

.footer {
  margin-top: auto;
  width: 100%;
  background-color: #242a2d;
  height: 100%;
  padding: 25px 40px;
}

.footer > p {
  font-size: smaller;
  color: white;
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 500px) {
  .including-content {
    padding: 0px 20px;
  }

  .nav {
    display: none;
    position: absolute;
    top: 75px;
    z-index: 20;
    background-color: #323a3d;
    flex-direction: column;
    height: 100%;
    width: 100%;
    color: white;
    padding: 20px 40px;
    transform: translateX(100%);
    transition: transform 750ms ease-in-out;
    font-size: 1rem;
  }

  .nav-links {
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
    color: white;
    display: inline-block;
  }

  .nav-links::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in;
  }
  .nav-links:hover::after {
    width: 100%;
  }

  .nav-links:focus::after {
    width: 100%;
  }

  .hamburger {
    display: block;
    background-color: transparent;
  }

  .true {
    transform: translateX(0%);
  }

  .hamburger div {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 5px;
    transform: all 0.3s ease;
  }

  .toggle .line1 {
    transform: rotate(45deg) translate(6px, 6px);
    transition: all 0.25s ease-in;
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(-45deg) translate(7px, -7px);
    transition: all 0.25s ease-in;
  }

  .drop-down {
    background-color: #242a2d;
    width: 100%;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
  }

  .show {
    opacity: 1;
    visibility: visible;
  }

  .drop-down > a {
    padding: 10px 0px;
    color: #ffd100;
    text-decoration: none;
  }

  .heading {
    font-family: "Rubik", sans-serif;
    text-align: center;
  }

  main {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .list {
    padding-left: 20px;
  }

  .flex-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    align-items: center;
  }

  .img-container {
    background-image: url(../Assets/background1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
  }

  .footer-wrapper {
    height: 70px;
    margin-top: auto;
  }

  .footer {
    margin-top: auto;
    width: 100%;
    background-color: #242a2d;
    height: 100%;
    padding: 20px 40px;
  }

  .footer > p {
    font-size: smaller;
    color: white;
    font-family: "Poppins", sans-serif;
  }
}
