@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Rubik:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background: #cfd7c7;
  color: black;
}

.including-content {
  display: flex;
  flex-direction: row;
  height: 75px;
  width: 100%;
  color: white;
  justify-content: space-between;
  align-items: center;
  background-color: #242a2d;
  font-family: "Poppins", sans-serif;
}

.nav {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: transparent;
}

.nav-link {
  text-decoration: none;
  background-color: transparent;
}

.hamburger {
  display: none;
}

.nav {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: transparent;
}

.nav-link {
  text-decoration: none;
  background-color: transparent;
}

.nav-links {
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  display: inline-block;
}

.nav-links::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease-in;
}

.nav-links:hover::after {
  width: 100%;
}

.nav-links:focus::after {
  width: 100%;
}

main {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 100%;
}

p {
  font-family: "Rubik", sans-serif;
  line-height: 1.5rem;
}

.heading-wrapper {
  width: 100%;
}

.heading {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
}

.form-wrapper {
  display: flex;
  width: 300px;
  flex-direction: column;
  height: 100%;
}

.form-control {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.form-control > input {
  height: 30px;
  border: 1px solid #242a2d;
  padding: 5px 20px;
}

.form-control > select {
  height: 30px;
  border: 1px solid #242a2d;
  padding: 5px 20px;
}

.form-control > button {
  height: 30px;
  width: 100px;
  border: 1px solid #242a2d;
  padding: 5px 20px;
  color: white;
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
  background-color: #242a2d;
}

.footer-wrapper {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footer {
  height: 70px;
  width: 100%;
  background-color: #242a2d;
  padding: 20px 40px;
}

.footer > p {
  font-size: smaller;
  color: white;
}

@media screen and (max-width: 500px) {
  .including-content {
    padding: 0px 20px;
  }

  .nav {
    display: none;
    position: absolute;
    top: 75px;
    z-index: 20;
    background-color: #323a3d;
    flex-direction: column;
    height: 100%;
    width: 100%;
    color: white;
    padding: 20px 40px;
    transform: translateX(100%);
    transition: transform 750ms ease-in-out;
    font-size: 1rem;
  }

  .nav-links {
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
    color: white;
    display: inline-block;
  }

  .nav-links::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in;
  }
  .nav-links:hover::after {
    width: 100%;
  }

  .nav-links:focus::after {
    width: 100%;
  }

  .hamburger {
    display: block;
    background-color: transparent;
  }

  .true {
    transform: translateX(0%);
  }

  .hamburger div {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 5px;
    transform: all 0.3s ease;
  }

  .toggle .line1 {
    transform: rotate(45deg) translate(6px, 6px);
    transition: all 0.25s ease-in;
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(-45deg) translate(7px, -7px);
    transition: all 0.25s ease-in;
  }

  .form-wrapper {
    display: flex;
    width: 200px;
    flex-direction: column;
    height: 100%;
  }
}
