@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Rubik:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #82aaf5;
}

p {
  font-family: "Rubik", sans-serif;
  background-color: transparent;
}

.including-content {
  display: flex;
  flex-direction: row;
  height: 75px;
  width: 100%;
  color: #325daf;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  padding: 0px 20px;
}

.nav {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  background-color: transparent;
  gap: 50px;
}

.nav-link {
  text-decoration: none;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav-links {
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  color: #325daf;
  display: inline-block;
}

.drop-down {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: left;
  top: 75px;
  background-color: #ffffff;
  gap: 20px;
  padding: 20px;
  z-index: 10;
  transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
  opacity: 0;
  transform: translateY(0.5rem);
  visibility: hidden;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 50px;
  height: 75px;
}

.social-media {
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 20px;
}

.social-media-button > a > img {
  height: 40px;
}

.social-media-container {
  display: none;
}

.logo > img {
  height: 75px;
}

.show {
  opacity: 1;
  transform: translateY(0rem);
  visibility: visible;
}

.drop-down > a {
  padding: 10px 0px;
  text-decoration: none;
  color: #325daf;
}

.hamburger {
  display: none;
}

.nav-link {
  text-decoration: none;
  background-color: transparent;
}

.nav-links {
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  color: #325daf;
  display: inline-block;
}

.nav-links::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #325daf;
  transition: width 0.3s ease-in;
}

.nav-links:hover::after {
  width: 100%;
}

.nav-links:focus::after {
  width: 100%;
}

.main-content {
  position: relative;
  margin-top: 20px;
  margin-inline: 40px;
}

main {
  margin: 0px 0px 20px 0px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #325daf;
}

.heading {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  color: #325daf;
}

section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.services-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ffffff;
  padding: 20px 10px;
}

.services {
  display: flex;
  color: #325daf;
  width: 150px;
  height: 150px;
  padding: 4px;
}

.list-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list {
  padding-left: 40px;
}

.list > ul > li {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
}

.small-headings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.small-headings-flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.images-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100;
  gap: 20px;
}

.images-container > div > h3 {
  text-align: center;
}

.images-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.images-flex > div > img {
  height: 40px;
}

.footer-wrapper {
  width: 100%;
  margin: auto;
}

.footer {
  background-color: #325daf;
  height: 70px;
  width: 100%;
  padding: 20px 40px;
}

.footer > p {
  color: #ffffff;
  text-align: center;
  letter-spacing: 3px;
}

.footer-container {
  background-color: #2953a1;
  display: flex;
  flex-direction: column;
  padding: 0px 40px;
}

.nav-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 0px;
}

.nav-items-arrow {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  width: 50px;
}

.nav-items {
  display: flex;
  flex-direction: row;
}

.footer-heading {
  font-family: "Poppins", sans-serif;
  font-size: x-large;
  color: #ffffff;
  text-align: left;
}

.footer-nav-links > a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: small;
}

@media screen and (max-width: 500px) {
  .including-content {
    padding: 0px 20px;
  }

  .nav {
    display: none;
    position: absolute;
    top: 75px;
    z-index: 20;
    background-color: #323a3d;
    flex-direction: column;
    height: 100%;
    width: 100%;
    color: white;
    padding: 20px 40px;
    transform: translateX(100%);
    transition: transform 750ms ease-in-out;
    font-size: 1rem;
  }

  .nav-link {
    text-decoration: none;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .drop-down {
    background-color: #242a2d;
    padding: 20px;
    width: 100%;
    opacity: 0;
    visibility: hidden;
  }

  .show {
    opacity: 1;
    visibility: visible;
  }

  .drop-down > a {
    padding: 10px 0px;
    color: #ffd100;
  }

  .nav-links {
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
    color: white;
    display: inline-block;
  }

  .nav-links::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in;
  }
  .nav-links:hover::after {
    width: 100%;
  }

  .nav-links:focus::after {
    width: 100%;
  }

  .hamburger {
    display: block;
    background-color: transparent;
  }

  .true {
    transform: translateX(0%);
  }

  .hamburger div {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 5px;
    transform: all 0.3s ease;
  }

  .toggle .line1 {
    transform: rotate(45deg) translate(6px, 6px);
    transition: all 0.25s ease-in;
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(-45deg) translate(7px, -7px);
    transition: all 0.25s ease-in;
  }

  .heading {
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    text-align: center;
  }

  .services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: space-evenly;
  }

  .images-container > div > h3 {
    text-align: center;
    width: 100%;
    font-size: 16px;
  }

  .footer-wrapper {
    height: 70px;
    margin-top: auto;
  }

  .footer {
    margin-top: auto;
    width: 100%;
    background-color: #242a2d;
    height: 100%;
    padding: 20px 40px;
  }

  .footer > p {
    font-size: smaller;
    color: white;
    font-family: "Poppins", sans-serif;
  }
}
